<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mattias Lundbäck">
    <title>Upphandling - Ekonomismus AB</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="unpoly.min.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">

  </head>
  <body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Svenskt Näringsliv - upphandlingsdata</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

        <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Typ av köpare</span>
        </h6>
        
        <ul id="meny" class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link" href="/tabell?kopare=kommun" up-target="#tabell, #meny">
              <img src="/icons/octagon.png" alt="icon name">
              Kommuner
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tabell?kopare=lan" up-target="#tabell, #meny">
              <img src="/icons/heart.png" alt="icon name">
              Landsting
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tabell?kopare=myndighet" up-target="#tabell, #meny">
              <img src="/icons/archive.png" alt="icon name">
              Myndigheter
            </a>
          </li>
        </ul>

        <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Bransch</span>
        </h6>
          
        <ul id="snimeny" class="nav flex-column mb-2">
          <li class="nav-item">
            <a id="bransch_alla" class="nav-link" href="/tabell?sni=alla" up-target="#tabell, #snimeny">
              <img src="/icons/target.png" alt="icon name">
              Samtliga branscher
            </a>
          </li>
         <% for i in "A".."U" do %>
          <li class="nav-item">
            <a id="bransch_<%= i %>" class="nav-link" href="/tabell?sni=<%= i %>" up-target="#tabell, #snimeny">
              <img src="/icons/target.png" alt="icon name">
              <%= i %>: <%= $branscher[i] %>
            </a>
          </li>
         <% end %>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Trend</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      <h2 id="rubrik">Statistik om inköpare</h2>
      <div class="table-responsive">
        <table id="tabell" class="table table-striped table-sm table-hover text-center">
          <thead>
            <tr>
              <th>Inköpare</th>
              <th>Andel inköp</th>
              <th>Snittstorlek</th>
              <th>Snittanställda</th>
              <th>Lokal andel</th>
               <th>Privat andel</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
 <script src="jquery-3.4.1.min.js"></script>
 <script src="bootstrap.bundle.min.js"></script>
 <script src="unpoly.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
 <script src="dashboard.js"></script></body>

</html>
