<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mattias Lundbäck">
    <title>Upphandling - Ekonomismus AB</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="unpoly.min.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
  </head>
<body class="text-center">
  <form action="/login" method="post" class="form-signin">
  <img class="mb-4" src="/icons/key.png" alt="" width="100" height="100">
  <h1 class="h3 mb-3 font-weight-normal">Lösenord</h1>
  <input type="text" name="password" value="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Logga in</button>
    <% if $fel == true %>
   <div class="alert alert-warning alert-dismissible fade show">
    <strong>Fel lösenord!</strong> Ange lösenord i rutan ovanför
    <button type="button" class="close" data-dismiss="alert">&times;</button>
   </div>
    <% end %>
  <p class="mt-5 mb-3 text-muted">Svenskt Näringsliv</p>
  </form>
</body>
</html>
